<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<div class="pt-3 pb-2 mb-3 border-bottom">
				<h3 class="h4">회원 가입</h3>
			</div>
			<form id="memberCreateForm">
<!-- 				<input id="_csrf" name="_csrf" th:value="${_csrf.token}">
				<input id="_csrf_header" name="_csrf_header" th:value="${_csrf.headerName}"> -->
			    <div class="mb-3">
				  <label for="memberFormControlInput1" class="form-label">
				  	이메일
				  </label>
				  <input type="email" class="form-control" name="email"
				  id="memberFormControlInput1" placeholder="hong_gd@abc.com">
				</div>
				<div class="mb-3">
				  <label for="memberFormControlInput2" class="form-label">
				  	비밀번호
				  </label>
				  <input type="password" class="form-control" name="password"
				  id="memberFormControlInput2">
				</div>
				<div class="mb-3 float-right text-end">
					<button type="submit" class="btn btn-primary">
						회원가입
					</button>
				</div>
			</form>			
		</div>
		<script>
			const form = document.getElementById('memberCreateForm');
			form.addEventListener('submit',(e)=>{
				e.preventDefault();
				// 1. 유효성 검사
				let vali_check = false;
				let vali_text = '';
				if(form.email.value == ''){
					vali_text += '이메일을 입력하세요.';
					form.email.focus();
				} else if(form.password.value == ''){
					vali_text += '비밀번호를 입력하세요.';
					form.password.focus();
				} else{
					vali_check = true;
				}
				// 2. 회원 정보 등록
				if(vali_check == false){
					alert(vali_text);
				} else {
					let obj = {};
					const payload = new FormData(form);
					payload.forEach(function(value,key){
						obj[key] = value;
					});
					const jsonData = JSON.stringify(obj);
															
					fetch('/member',{
						method : 'post',
						headers: {
			                'header': document.querySelector('meta[name="_csrf_header"]').content,
			                "Content-Type": "multipart/form-data",
			                'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
						},					
						body : jsonData
					})
					.then(response => response.json())
					.then(data => {
						alert(data.res_msg);
						if(data.res_code == '200'){
							location.href="/";
						}
					})
				}
			})
		</script>
    </th:block>
</html>