<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<div class="pt-3 pb-2 mb-3 border-bottom">
				<h3 class="h4">로그인</h3>
			</div>
			<form id="memberLoginForm">
			    <div class="mb-3">
				  <label for="memberFormControlInput1" class="form-label">
				  	이메일
				  </label>
				  <input type="email" class="form-control" name="email"
				  id="memberFormControlInput1" placeholder="hong_gd@abc.com">
				</div>
				<div class="mb-3">
				  <label for="memberFormControlInput2" class="form-label">
				  	비밀번호
				  </label>
				  <input type="password" class="form-control" name="password"
				  id="memberFormControlInput2">
				</div>
				<div class="mb-3 float-right text-end">
					<button type="submit" class="btn btn-primary">
						로그인
					</button>
					<button type="button" class="btn btn-secondary"
					th:onclick="|location.href='@{/signup}'|">
						회원가입
					</button>
				</div>
			</form>			
		</div>
    </th:block>
</html>