<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<div class="pt-3 pb-2 mb-3 border-bottom">
				<h3 class="h4">로그인</h3>
			</div>
			<form id="memberLoginForm">
				<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
			    <div class="mb-3">
				  <label for="memberFormControlInput1" class="form-label">
				  	이메일
				  </label>
				  <input type="email" class="form-control" name="email"
				  id="memberFormControlInput1" placeholder="hong_gd@abc.com">
				</div>
				<div class="mb-3">
				  <label for="memberFormControlInput2" class="form-label">
				  	비밀번호
				  </label>
				  <input type="password" class="form-control" name="password"
				  id="memberFormControlInput2">
				</div>
				<div class="mb-3 float-right text-end">
					<button type="submit" class="btn btn-primary">
						로그인
					</button>
					<button type="button" class="btn btn-secondary"
					th:onclick="|location.href='@{/signup}'|">
						회원가입
					</button>
				</div>
			</form>			
		</div>
		<script>
			const form = document.getElementById('memberLoginForm');
			form.addEventListener('submit',(e)=>{
				e.preventDefault();
				let obj = {};
				const payload = new FormData(form);
				payload.forEach(function(value,key){
					obj[key] = value;
					console.log(key);
					console.log(value);
				});
				const jsonData = JSON.stringify(obj);
				fetch('/login',{
					method : 'post',
					headers: {
		                "Content-Type": "application/json",
					},
					body : jsonData
				})
				.then(response => {
					const auth = response.headers.get('Authorization');
					if(auth != null){
						console.log('test');
						fetch('/article',{
							method : 'get',
							headers : {
								'Authorization' : `${auth}`
							}
						}).then(response => {
							location.href='/article';
						})
					}
				})
				
			})
		</script>
    </th:block>
</html>