<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<div class="pt-3 pb-2 mb-3 border-bottom">
				<h3 class="h4">게시판</h3>
				<div class="d-inline-flex pt-2">
					<div class="input-group mb-3">
					  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">선택</button>
					  <ul class="dropdown-menu">
					    <li><a class="dropdown-item" href="#">제목</a></li>
					    <li><a class="dropdown-item" href="#">내용</a></li>
					    <li><a class="dropdown-item" href="#">제목+내용</a></li>
					  </ul>
					  <input type="text" class="form-control" placeholder="검색어를 입력하세요." aria-label="Text input with dropdown button">
					  <button class="btn btn-outline-primary" type="button" id="button-addon2">검색</button>
					
					</div>
				</div>
			</div>
			<table class="table table-hover">
				<thead>
				    <tr>
				      <th scope="col">번호</th>
				      <th scope="col">제목</th>
				      <th scope="col">내용</th>
				      <th scope="col">등록일</th>
				      <th scope="col">상세</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<th:block th:if="${#lists.isEmpty(articleList)}">
				  		<tr>
				  			<td colspan="5">게시글이 없습니다.</td>
				  		</tr>
				  	</th:block>
				  	<th:block th:else="${#lists.isEmpty(articleList)}">
					    <tr th:each="article, articleStatus : ${articleList}">
					      <td th:text="${(paging.pageSize * paging.nowPage)+ articleStatus.count}" scope="row">1</td>
					      <td th:text="${article.title}">테스트 제목</td>
					      <td th:text="${article.content}">테스트 내용</td>
					      <td th:text="${#temporals.format(article.createdTime, 'yy-MM-dd')}">2024.12.25</td>
					      <td>
					      	<a th:href="@{/article/{id}(id=${article.id})}">상세</a>
					      </td>
					    </tr>
				  	</th:block>
				  </tbody>
				</table>
				<nav aria-label="Page navigation">
				  <ul class="pagination justify-content-center">
				    <li class="page-item" th:classappend="${!paging.prev} ? 'disabled'">
				      <a class="page-link" th:href="@{/article(nowPage=${paging.pageBarStart-1})}" 
				      aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <th:block th:each="num : ${#numbers.sequence(paging.pageBarStart,paging.pageBarEnd)}">
				    	<li class="page-item" th:classappend="${paging.nowPage == num} ? 'active'">
				    		<a class="page-link" th:href="@{/article(nowPage=${num})}"
				    		th:text="${num + 1}">
				    		</a>
				    	</li>
				    </th:block>
   				    <li class="page-item" th:classappend="${!paging.next} ? 'disabled'">
				      <a class="page-link" th:href="@{/article(nowPage=${paging.pageBarEnd+1})}" 
				      aria-label="next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			    <button type="button" class="btn btn-primary" 
			    	th:onclick="|location.href='@{/article/create}'|">
			    	등록
		    	</button>
			</div>
    </th:block>
</html>