<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/layout}">
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<form id="articleUpdateForm" th:object="${article}">
				<input type="hidden" name="id" th:field="*{id}">
			    <div class="mb-3">
				  <label for="articleFormControlInput1" class="form-label">
				  	제목
			  	</label>
				  <input type="text" class="form-control" name="title"
				  id="articleFormControlInput1" th:field="*{title}">
				</div>
				<div class="mb-3">
				  <label for="articleFormControlTextarea1" class="form-label">
				  	내용
			  	</label>
				  <textarea class="form-control" name="content" 
				  id="articleFormControlTextarea1" rows="3" th:field="*{content}"></textarea>
				</div>
				<div class="mb-2" th:if="${!#lists.isEmpty(fileList)}">
					<label class="form-label">파일</label>
					<div class="row g-3" th:each="uploadFile : ${fileList}">
					  <input type="hidden" name="delete_files" th:value="${uploadFile.id}" disabled>
					  <div class="col-auto">
					    <label class="visually-hidden">FileName</label>
					    <span class="form-control" th:text="${uploadFile.oriName}"></span>
					  </div>
					  <div class="col-auto">
					    <button type="button" class="btn btn-danger mb-3 fileDeleteBtn"
					    	onclick="deleteDesign(this);">
					    	삭제
				    	</button>
					  </div>
					</div>
				</div>
				<div class="mb-3">
				  <input type="file" name="files" class="form-control" id="inputGroupFile"
				  multiple>
				</div>
				<div class="mb-3 float-right text-end">
					<button type="submit" class="btn btn-primary">
						수정
					</button>
				</div>
			</form>	
		</div>
		<script>
			const deleteDesign = function(element){
				
				const bumo = element.parentElement;
 				const jobumo = bumo.parentElement;
				const chutjae = jobumo.firstElementChild;	// input
				const duljae = chutjae.nextElementSibling;	// col-auto
				const maknae = duljae.lastElementChild; 	// span
				
				if(element.classList.contains('btn-danger')){
					element.classList.add('btn-primary');
					element.classList.remove('btn-danger');
					element.innerText = '유지';
					maknae.style.textDecoration = 'line-through';
					chutjae.disabled = false;
					
				} else{
					element.classList.add('btn-danger');
					element.classList.remove('btn-primary');
					element.innerText = '삭제';
					maknae.style.textDecoration = 'none';
					chutjae.disabled = true;
				}
			}
		
			const form = document.getElementById('articleUpdateForm');
			form.addEventListener('submit',(e)=>{
				e.preventDefault();
				let vali_check = false;
				let vali_text='';
				if(form.title.value == ''){
					vali_text += '제목을 입력하세요.';
					form.title.focus();
				} else if(form.content.value == ''){
					vali_text += '내용을 입력하세요.';
					form.content.focus();
				} else{
					vali_check = true;
				}
				
				if(vali_check == false){
					alert(vali_text);
				} else{
					const articleId = form.id.value;
					const payload = new FormData(form);
										
					fetch('/article/'+articleId+'/update',{
						method : 'post',
						body : payload
					})
					.then(response => response.json())
					.then(data => {
						alert(data.res_msg);
						if(data.res_code == '200'){
							location.href='/article/'+articleId;
						}
					})
				}
			})
		</script>
    </th:block>
</html>